{{#each products}}
<div id="product-details" class="container mt-5">
  
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{_id}}</h1>
      <h1 class="card-title">{{this.name}}</h1>
      <p class="card-text">{{description}}</p>
      <p class="card-text">Categoría: {{category}}</p>
      <p class="card-text">Disponibilidad: {{availability}}</p>
      <p class="card-text">Precio: {{price}}</p>
      <button type="button" class="btn btn-secondary button-add-to-cart" id="{{_id}}">Agregar al Carrito</button>
    </div> 
  </div>

</div>
  {{/each}}



<script src="/js/product.js"></script>
